In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [2]:
data = pd.read_csv(r"C:\Users\59899\Desktop\Intro a ciencia de datos\um-data-science-main\proyecto_final\data.csv")
edit = data.copy()

C:\Users\59899\anaconda33\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
data.head(5)

,nombre_inmueble,aviso,precio,superficie,tipo,dormitorios,direccion,barrio,negocio,fecha
0,CASAS-ALQUILER-TEMPORAL-PUNTA-COLORADA-034,16579724,U$S 1.750,600 Mts,Casa,2 dormitorios,Av. Primera entre Rambla Costanera y 8 Guazubi...,Punta Colorada,Alquiler temporario,2021-01-03 00:00:00
1,"Alquilo Apto. 2 Dorm. Vista , 2 da Enero y Mar...",16735528,$U 800,NaN,Apartamento,2 dormitorios,Mi hijo el doctor y En Familia,Punta Del Este,Alquiler temporario,2021-01-03 00:00:00
2,"Casa en Cerro del Burro ""MIRADOR II""",13795860,U$S 100.000,300 Mts,Casa,1 dormitorio,... y Cerro del burro,Piriápolis,Venta,2021-01-03 00:00:00
3,Oficina Alquiler World Trade Center -WTC- Poci...,15655688,U$S 1.600,NaN,Oficina,NaN,... y Buceo,Buceo,Alquiler,2021-01-03 00:00:00
4,Terreno en Punta Colorada,12805785,U$S 67.000,615 Mts,Terreno,NaN,TE201282 y Punta colorada,Punta Colorada,Venta,2021-01-03 00:00:00

In [30]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96583 entries, 0 to 96582
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   nombre_inmueble  96462 non-null  object
 1   aviso            96583 non-null  object
 2   precio           96462 non-null  object
 3   superficie       81049 non-null  object
 4   tipo             96462 non-null  object
 5   dormitorios      75070 non-null  object
 6   direccion        96128 non-null  object
 7   barrio           96462 non-null  object
 8   negocio          96462 non-null  object
 9   fecha            96583 non-null  object
dtypes: object(10)
memory usage: 7.4+ MB

Clasificación por:
    - tipo de finca
    - tipo de negocio: afecta el precio (alquileres mensuales)

In [28]:
data["negocio"].value_counts()

Venta                  66165
Alquiler               15553
Alquiler temporario    14744
Name: negocio, dtype: int64

In [29]:
data["tipo"].value_counts()

Apartamento    45098
Casa           29972
Terreno        11076
Oficina         4455
Local           3944
Campo           1375
Comercio         202
Edificio         157
Garage           111
Piezas            66
Otro               6
Name: tipo, dtype: int64

In [25]:
data["direccion"].isna().sum(), data["direccion"].count() #Conteo de direcciones

(455, 96128)

In [26]:
data["barrio"].isna().sum(), data["barrio"].count() #Conteo de barrio, posibilidad de imputar direcciones faltantes

(121, 96462)

In [27]:
data["precio"].isna().sum()
#Si el estudio es sobre oportunidad de inversión, estos datos deben eliminarse

121

In [33]:
data["fecha"] #Irrelevante para el EDA, eliminable

0        2021-01-03 00:00:00
1        2021-01-03 00:00:00
2        2021-01-03 00:00:00
3        2021-01-03 00:00:00
4        2021-01-03 00:00:00
                ...
96578    2021-12-07 00:00:00
96579    2021-12-07 00:00:00
96580    2021-12-07 00:00:00
96581    2021-12-07 00:00:00
96582    2021-12-07 00:00:00
Name: fecha, Length: 96583, dtype: object

In [34]:
data["aviso"] #Irrelevante para el modelo, eliminable provisoriamente

0        16579724
1        16735528
2        13795860
3        15655688
4        12805785
           ...
96578    18610881
96579    17710617
96580    12804460
96581    18611010
96582    18610480
Name: aviso, Length: 96583, dtype: object

In [4]:
municipios = {"B": ["Aguada", "parte de La Comercial", "Tres Cruces", "Cordón", "Parque Rodó", "Palermo", "Sur", "Ciudad Vieja", "Centro"],
"E": ["Unión","Malvín Norte","Malvín Nuevo","Las Canteras","Carrasco Norte","Carrasco","Punta Gorda","Malvín","Buceo","La Blanqueada"],
"C": ["Prado", "Aires Puros", "Atahualpa", "Nueva Savona", "Brazo Oriental", "Mercado Modelo", "Bolívar", "Larrañaga", "Jacinto Vera", "La Figurita", "La Comercial", "Villa Muñoz", "Retiro", "Goes", "Aguada", "una parte del Puerto", "Capurro", "Bella Vista", "Reducto"],
"CH": ["La Blanqueada", "Parque Batlle", "Villa Dolores", "Pocitos", "Punta Carretas", "Tres Cruces", "Larrañaga", "Buceo"]}

In [5]:
barrios_ok = []
for value in list(municipios.values()):
    barrios_ok.extend(value)

In [6]:
for index in edit.index:
    if edit["barrio"][index] not in barrios_ok:
        edit.drop(index, axis=0, inplace=True)
# Filtrado por municipio

In [28]:
edit.drop_duplicates("aviso")
edit.reset_index(drop=True, inplace=True)
#Eliminación de avisos repetidos, reseteo de índice

In [61]:
edit

,nombre_inmueble,aviso,precio,superficie,tipo,dormitorios,direccion,barrio,negocio,fecha,long,lat
0,Oficina Alquiler World Trade Center -WTC- Poci...,15655688,U$S 1.600,NaN,Oficina,NaN,... y Buceo,Buceo,Alquiler,2021-01-03 00:00:00,-56.128175,-34.898105
1,Oficina Sosa - Local Con Vivienda Alquilado En...,16224275,U$S 125.000,NaN,Local,NaN,Oficina Sosa - Local Con Vivienda Alquilado En...,Brazo Oriental,Venta,2021-01-03 00:00:00,-56.178411,-34.865029
2,Excelente Local Amplio - Gran Sótano Centro,16436745,$U 25.000,NaN,Local,NaN,Soriano y Julio Herrera Y Obes,Centro,Alquiler,2021-01-03 00:00:00,,
3,Terreno en el Centro,16703708,U$S 220.000,442 Mts,Terreno,NaN,Wilson Ferreira Aldunate y Durazno,Centro,Venta,2021-01-03 00:00:00,,
4,Impecable apartamento en zona privilegiada.,12452693,U$S 380.000,130 Mts,Apartamento,3 dormitorios,Ramon Fernandez y Bulevar Artigas,Punta Carretas,Venta,2021-01-03 00:00:00,-56.161496,-34.925531
...,...,...,...,...,...,...,...,...,...,...,...,...
32276,"Gran Casa en Calle Exclusiva, Punta Carretas",18626950,U$S 740.000,NaN,Casa,más de 4 dormitorios,Baez y Montero,Punta Carretas,Venta,2021-12-07 00:00:00,,
32277,Hermoso Apartamento en Pocitos,18245104,$U 21.000,NaN,Apartamento,1 dormitorio,Scoseria y Roque Graseras,Pocitos,Alquiler,2021-12-07 00:00:00,,
32278,"Town Park, Con Renta,amplio,exonera imp,no pag...",15133380,U$S 160.000,NaN,Apartamento,3 dormitorios,Millan y Instrucciones,Prado,Venta,2021-12-07 00:00:00,,
32279,VENDE APARTAMENTO 1 DORMITORIO - PARA CONSULTO...,17985809,U$S 87.000,39 Mts,Apartamento,1 dormitorio,ITALIA y BRITO FORESTI,Parque Batlle,Venta,2021-12-07 00:00:00,,
32280,Alquila apartamento Prado 1 dormitorio luminos...,18639726,$U 13.000,NaN,Apartamento,1 dormitorio,Av. Islas Canarias y Camino Castro,Prado,Alquiler,2021-12-07 00:00:00,,